@import url('https://fonts.googleapis.com/css?family=Monoton');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Monoton,sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('flicker/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    font-size: 6em;
    font-weight: 300;
    letter-spacing: 15px;
    color: #EC4F49;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear forwards;
}
@keyframes animate {
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #211A2C;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #fff;
        text-shadow: 0 0 10px #EC4F49,
        0 0 20px #EC4F49,
        0 0 40px #EC4F49,
        0 0 80px #EC4F49,
        0 0 160px #EC4F49;
        
    }
}